@page "/form"
@inherits ProfileInputFormBase

<Row>
    <Column>
        <Validations ValidateOnLoad="false" Model="@RequestModel" Mode="ValidationMode.Auto" @ref="ValidationsRef">
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">First name</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                    <Validation Validator="ValidationRule.IsNotEmpty">
                        <TextEdit Placeholder="Enter first name" @bind-Text="@RequestModel.FirstName">
                            <Feedback>
                                <ValidationSuccess>First name is good.</ValidationSuccess>
                                <ValidationError>Enter valid first name!</ValidationError>
                            </Feedback>
                        </TextEdit>
                    </Validation>
                </FieldBody>
            </Field>
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">Last name</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                    <Validation Validator="ValidationRule.IsNotEmpty">
                        <TextEdit Placeholder="Enter last name" @bind-Text="@RequestModel.LastName">
                            <Feedback>
                                <ValidationNone></ValidationNone>
                                <ValidationSuccess>Last name is good.</ValidationSuccess>
                                <ValidationError>Enter valid last name!</ValidationError>
                            </Feedback>
                        </TextEdit>
                    </Validation>
                </FieldBody>
            </Field>
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">Date of birth</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <DatePicker @ref="@_datePicker" TValue="DateTime?" @bind-Date="@RequestModel.DateOfBirth"/>
                        </Addon>
                        <Addon AddonType="AddonType.End">
                            <Button Color="Color.Light" Clicked="@(() => _datePicker.ToggleAsync())">
                                <Icon Name="IconName.CalendarDay"/>
                            </Button>
                        </Addon>
                    </Addons>
                    <FieldHelp>Format: yyyy-MM-dd</FieldHelp>
                </FieldBody>
            </Field>
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">Email address</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                    <Validation Validator="ValidateEmail">
                        <TextEdit @bind-Text="@RequestModel.EmailAddress" Role="TextRole.Email">
                            <Feedback>
                                <ValidationSuccess>Email is good.</ValidationSuccess>
                                <ValidationError>Enter valid email address!</ValidationError>
                            </Feedback>
                        </TextEdit>
                    </Validation>
                </FieldBody>
            </Field>
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">Phone number</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                    <Validation Validator="ValidatePhone">
                        <TextEdit @bind-Text="@RequestModel.PhoneNumber">
                            <Feedback>
                                <ValidationSuccess>Phone number is good.</ValidationSuccess>
                                <ValidationError>Enter valid phone number!</ValidationError>
                            </Feedback>
                        </TextEdit>
                        <FieldHelp>Format: (999)999-9999</FieldHelp>
                    </Validation>
                </FieldBody>
            </Field>
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">Address</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                        <TextEdit @bind-Text="@RequestModel.Address">
                        </TextEdit>
                </FieldBody>
            </Field>
            <Field>
                <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop"></FieldLabel>
                <Button Color="Color.Primary" Type="ButtonType.Submit" PreventDefaultOnSubmit Clicked="OnSubmitClicked" Loading="@_isLoading">Create profile</Button>
                <Button Color="Color.Secondary" To="/home">Cancel</Button>
            </Field>
        </Validations>
    </Column>
</Row>